<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="XFrmWork.Title" value="SamsungTTS"/>
    <add key="XFrmWork.Splash" value="ProgramInfos\splash.jpg"/>
    <add key="XFrmWork.Icon" value="ProgramInfos\icon.png"/>
    <add key="XFrmWork.MainPluginLocation" value="\"/>
    <add key="XFrmWork.PluginLocationRelative" value="true"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    <requiredRuntime version="v4.0.20506"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <publisherPolicy apply="yes"/>
      <probing privatePath="XDataMiningPlugin"/>
    </assemblyBinding>
  </runtime>
</configuration>
