<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Title" value="Hawk-数据抓取工具" />
    <add key="Splash" value="splash.jpg" />
    <add key="Icon" value="Hawk.ico" />
    <add key="MainPluginLocation" value="\" />
    <add key="PluginLocationRelative" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />

  </startup>
  <runtime>
    <loadFromRemoteSources enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.7.0" newVersion="1.8.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ToastNotifications" publicKeyToken="e89d9d7314a7c797" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.4.0" newVersion="2.3.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
