<?xml version="1.0" encoding="utf-8"?>
<log4net>
 
	  <appender name="LogFileAppender" type="log4net.Appender.FileAppender" >
 	<param name="File" value="log-file.dat" /> 
       <param name="AppendToFile" value="true" />
 	<param name="StaticLogFileName" value="false"/>
      <param name="MaximumFileSize" value="20MB"/>
        <layout type="log4net.Layout.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %p %u %m %n" />
        </layout>
    </appender>
	<appender name="RichTextBoxAppender" type="Hawk.Core.Utils.Logs.RichTextBoxAppender" >
        <layout type="log4net.Layout.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %p %u %m %n" />
        </layout>
    </appender>
    <root>
        <level value="INFO" />
        <appender-ref ref="LogFileAppender" />
		<appender-ref ref="RichTextBoxAppender" />
    </root>
</log4net>
