<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Core" version="4.0.0.1" targetFramework="net45" />
  <package id="HtmlAgilityPack" version="1.4.9" targetFramework="net45" />
  <package id="ScrapySharp" version="2.6.2" targetFramework="net45" />
  <package id="ToastNotifications" version="2.2.5" targetFramework="net45" />
  <package id="ToastNotifications.Messages" version="2.2.5" targetFramework="net45" />
</packages>