@charset "utf-8"; 
  
html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; } 

.button{
width: 140px;
line-height: 38px;
text-align: center;
font-weight: bold;
color: #fff;
text-shadow:1px 1px 1px #333;
border-radius: 5px;
margin:0 20px 20px 0;
position: relative;
overflow: hidden;
}


body{ 
    color:#444; 
    font-family:Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif; 
    font-size:13px; 
    line-height:1.5em; 
    padding:1em; 
    margin:auto; 
    max-width:42em; 
    background:#f5faff;
	} 
  
h1, h2, h3, h4, h5, h6 { 
    font-weight: bold; 
} 
textarea {
  background-color: #E1EEFF;
}
  
h1 { 
    color: #000000; 
    font-size: 28px; 
	 
} 
  
h2 { 
    border-bottom: 2px solid #CCCCCC; 
    color: #000000; 
    font-size: 24px; 
} 
  
h3 { 
    border-bottom: 2px solid #CCCCCC; 
    font-size: 18px; 
} 
table.altrowstable 
{
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #a9c6c9;
	border-collapse: collapse;
}
table.altrowstable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}
table.altrowstable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}
.oddrowcolor{
	background-color:#d4e3e5;
}
.evenrowcolor{
	background-color:#c3dde0;
}
.button.green
{
margin-left:auto;
margin-right:auto; 
border:1px solid #64c878;
box-shadow: 0 1px 2px #b9ecc4 inset,0 -1px 0 #6c9f76 inset,0 -2px 3px #b9ecc4 inset;
background: -webkit-linear-gradient(top,#90dfa2,#84d494);
background: -moz-linear-gradient(top,#90dfa2,#84d494);
background: linear-gradient(top,#90dfa2,#84d494);
}
.button.gray{
color: #8c96a0;
text-shadow:1px 1px 1px #fff;
border:1px solid #dce1e6;
box-shadow: 0 1px 2px #fff inset,0 -1px 0 #a8abae inset;
background: -webkit-linear-gradient(top,#f2f3f7,#e4e8ec);
background: -moz-linear-gradient(top,#f2f3f7,#e4e8ec);
background: linear-gradient(top,#f2f3f7,#e4e8ec);
}
.button.black{
border:1px solid #333;
box-shadow: 0 1px 2px #8b8b8b inset,0 -1px 0 #3d3d3d inset,0 -2px 3px #8b8b8b inset;
background: -webkit-linear-gradient(top,#656565,#4c4c4c);
background: -moz-linear-gradient(top,#656565,#4a4a4a);
background: linear-gradient(top,#656565,#4a4a4a);
}
.gray:hover{
background: -webkit-linear-gradient(top,#fefefe,#ebeced);
background: -moz-linear-gradient(top,#f2f3f7,#ebeced);
background: linear-gradient(top,#f2f3f7,#ebeced);
}
.black:hover{
background: -webkit-linear-gradient(top,#818181,#575757);
background: -moz-linear-gradient(top,#818181,#575757);
background: linear-gradient(top,#818181,#575757);
}
.red:hover{
background: -webkit-linear-gradient(top,#eb6f6f,#c83c3c);
background: -moz-linear-gradient(top,#eb6f6f,#c83c3c);
background: linear-gradient(top,#eb6f6f,#c83c3c);
}
.yellow:hover{
background: -webkit-linear-gradient(top,#ffd859,#e3bb38);
background: -moz-linear-gradient(top,#ffd859,#e3bb38);
background: linear-gradient(top,#ffd859,#e3bb38);
}
.green:hover{
background: -webkit-linear-gradient(top,#aaebb9,#82d392);
background: -moz-linear-gradient(top,#aaebb9,#82d392);
background: linear-gradient(top,#aaebb9,#82d392);
}
.blue:hover{
background: -webkit-linear-gradient(top,#70bfef,#4097ce);
background: -moz-linear-gradient(top,#70bfef,#4097ce);
background: linear-gradient(top,#70bfef,#4097ce);
}
.gray:active{
top:1px;
box-shadow: 0 1px 3px #a8abae inset,0 3px 0 #fff;
background: -webkit-linear-gradient(top,#e4e8ec,#e4e8ec);
background: -moz-linear-gradient(top,#e4e8ec,#e4e8ec);
background: linear-gradient(top,#e4e8ec,#e4e8ec);
}
.black:active{
top:1px;
box-shadow: 0 1px 3px #111 inset,0 3px 0 #fff;
background: -webkit-linear-gradient(top,#424242,#575757);
background: -moz-linear-gradient(top,#424242,#575757);
background: linear-gradient(top,#424242,#575757);
}
.red:active{
top:1px;
box-shadow: 0 1px 3px #5b0505 inset,0 3px 0 #fff;
background: -webkit-linear-gradient(top,#b11a1a,#bf2626);
background: -moz-linear-gradient(top,#b11a1a,#bf2626);
background: linear-gradient(top,#b11a1a,#bf2626);
}
.yellow:active{
top:1px;
box-shadow: 0 1px 3px #816b1f inset,0 3px 0 #fff;
background: -webkit-linear-gradient(top,#d3a203,#dba907);
background: -moz-linear-gradient(top,#d3a203,#dba907);
background: linear-gradient(top,#d3a203,#dba907);
}
.green:active{
top:1px;
box-shadow: 0 1px 3px #4d7254 inset,0 3px 0 #fff;
background: -webkit-linear-gradient(top,#5eac6e,#72b37e);
background: -moz-linear-gradient(top,#5eac6e,#72b37e);
background: linear-gradient(top,#5eac6e,#72b37e);
}
.blue:active{
top:1px;
box-shadow: 0 1px 3px #114566 inset,0 3px 0 #fff;
background: -webkit-linear-gradient(top,#1a71a8,#1976b1);
background: -moz-linear-gradient(top,#1a71a8,#1976b1);
background: linear-gradient(top,#1a71a8,#1976b1);
}
.gray.side:hover:after{
background:-webkit-linear-gradient(right,#e7ebee,#f8f8f8 60%);
background:-moz-linear-gradient(right,#e7ebee,#f8f8f8 60%);
background:linear-gradient(right,#e7ebee,#f8f8f8 60%);
}
.black.side:hover:after{
background:-webkit-linear-gradient(right,#555,#6f6f6f 60%);
background:-moz-linear-gradient(right,#555,#6f6f6f 60%);
background:linear-gradient(right,#555,#6f6f6f 60%); 
}
h4 { 
    font-size: 16px; 
} 
  
h5 { 
    font-size: 14px; 
} 
  
h6 { 
    color: #777777; 
    background-color: inherit; 
    font-size: 14px; 
} 
  
hr { 
    height: 0.2em; 
    border: 0; 
    color: #CCCCCC; 
    background-color: #CCCCCC; 
} 
  
p, blockquote, ul, ol, dl, li, table, pre { 
    margin: 15px 0; 
} 
  
p{ 
    margin:1em 0; 
} 
pre {  
    background-color: #F8F8F8;     
    border: 1px solid #CCCCCC; 
    border-radius: 3px; 
    overflow: auto; 
    padding: 0px; 
} 
 pre code { 
    background-color: #F8F8F8; 
    border: none;     
    padding: 0; 
} 
 code { 
    font-family: Consolas, Monaco, Andale Mono, monospace; 
    background-color:#F8F8F8; 
    border: 1px solid #CCCCCC; 
    border-radius: 3px; 
    padding: 0 0.2em; 
    line-height: 1; 
} 
 pre > code { 
    border: 0; 
    margin: 0; 
    padding: 0; 
} 
 


  
a{ color: #0645ad; text-decoration:none;} 
a:visited{ color: #0b0080; } 
a:hover{ color: #06e; } 
a:active{ color:#faa700; } 
a:focus{ outline: thin dotted; } 
a:hover, a:active{ outline: 0; } 
  
::-moz-selection{background:rgba(255,255,0,0.3);color:#000} 
::selection{background:rgba(255,255,0,0.3);color:#000} 
  
a::-moz-selection{background:rgba(255,255,0,0.3);color:#0645ad} 
a::selection{background:rgba(255,255,0,0.3);color:#0645ad} 
  
blockquote{ 
    color:#666666; 
    margin:0; 
    padding-left: 3em; 
    border-left: 0.5em #EEE solid; 
} 
  
ul, ol { margin: 1em 0; padding: 0 0 0 2em; } 
li p:last-child { margin:0 } 
dd { margin: 0 0 0 2em; } 
  
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; max-width:100%;} 
  
table{border-collapse:collapse;border-spacing:0;border-left:1px solid #888;border-top:1px solid #888;background:#efefef;}
th,td{border-right:1px solid #888;border-bottom:1px solid #888;padding:5px 15px;}
th{font-weight:bold;background:#ccc;}


  
@media only screen and (min-width: 480px) { 
    body{font-size:14px;} 
} 
  
@media only screen and (min-width: 768px) { 
    body{font-size:16px;} 
}